@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  font-family: Nunito;
  /* Colors */
  --red-color: red;
  --gray-color: gray;
}

.product-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-details {
  margin-left: 35px;
  max-width: 480px;
}

.price {
  color: var(--red-color);
}

.new-price {
  color: var(--red-color);
}

.sale {
  color: var(--gray-color);
  margin-right: 10px;
  text-decoration: line-through;
}

.sauces li {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  border-color: 8px;
}

.sauces li:hover {
  color: white;
}

button {
  background-color: var(--red-color);
  border-color: var(--red-color);
  color: #fff;
  font-family: Nunito;
  cursor: pointer;
  margin: 20px auto;
  line-height: 20px;
  min-width: initial;
  max-width: initial;
  padding: 12px;
  text-align: center;
  text-transform: uppercase !important;
  width: 350px;
}

button:hover {
  background-color: #b6132c;
}

.notActiveButton {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: var(--gray-color);
  cursor: not-allowed;
  text-decoration: line-through;
}

.notActiveButton:hover {
  background-color: #f6f6f6;
}

/* Transition */
bounce-enter-active {
  animation: bounce-in 0.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
